 <h1>About BookishMe</h1>
    <p>Although I had heard it with my own ears I could not believe it.  I must search out her apartments and force her to repeat the cruel truth to me alone before I would be convinced, and so I deserted my post and hastened through the passage behind the tapestries toward the door by which she had left the chamber.  Slipping quietly through this opening I discovered a maze of winding corridors, branching and turning in every direction.</p>
